VITE_SUPABASE_URL=https://cetvbdevmmrlcrpsqfsf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNldHZiZGV2bW1ybGNycHNxZnNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNDM2NTcsImV4cCI6MjA4NzYxOTY1N30.BCf1voNwzXq4glyKBmDyqCujnXYlx2jv8uDXFIoNIqk
